{% extends "partials/base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Admin User" title="Change Password" %}
                        {% endblock pagetitle %}

                        {% block alerts %}
                            {% include "partials/errors.html" with messages=messages %}
                        {% endblock alerts %}
    
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="card">
                                    <div class="card-body">
                                        <form method="POST" id="user_detail_form" enctype="multipart/form-data" action="{% url 'apps.main.admin_users:admin-user-change-password-update' %}">
                                            {% csrf_token %}

                                            <input type="hidden" name="id" value="{{ admin_user_id }}">
                                            
                                            <div class="mt-3 row">
                                                <div class="col-xxl-6 col-md-6">
                                                    <label for="employee_id" class="form-label">Employee Id</label>
                                                    <input type="text" class="form-control" name="employee_id" id="employee_id" disabled value="{{ user.employee_id|default:"" }}">
                                                </div>
                                            </div>
                                    
                                            <div class="mt-3 row">
                                                <div class="col-xxl-6 col-md-6">
                                                    <label for="first_name" class="form-label">First Name</label>
                                                    <input type="text" class="form-control" name="first_name" id="first_name" disabled value="{{ user.first_name|default:"" }}">
                                                </div>
                                                <div class="col-xxl-6 col-md-6">
                                                    <label for="last_name" class="form-label">Last Name</label>
                                                    <input type="text" class="form-control" name="last_name" id="last_name" disabled value="{{ user.last_name|default:"" }}">
                                                </div>
                                            </div>

                                            <div class="mt-3 row">
                                                <div class="col-xxl-6 col-md-6">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="text" class="form-control" name="email" id="email" disabled value="{{ user.email|default:"" }}">
                                                </div>
                                                <div class="col-xxl-6 col-md-6">
                                                    <label for="mobile" class="form-label">Mobile</label>
                                                    <input type="text" class="form-control" name="mobile" id="mobile" disabled value="{{ user.mobile|default:"" }}">
                                                </div>
                                            </div>

                                            
                                            <div class="mt-3 col-xxl-6 col-md-6 form-check form-switch form-switch-success">
                                                <input class="form-check-input" type="checkbox" role="switch" name="is_vms_assigned" disabled id="is_vms_assigned" {% if user.is_vms_assigned == True %}checked{% endif %}>
                                                <label class="form-check-label" for="is_vms_assigned">Allow VMS?</label>
                                            </div>

                                            <div class="mt-3 col-xxl-6 col-md-6 form-check form-switch form-switch-success">
                                                <input class="form-check-input" type="checkbox" role="switch" name="is_active" disabled id="is_active" {% if user.is_active == True %}checked{% endif %}>
                                                <label class="form-check-label" for="is_active">Active</label>
                                            </div>


                                            <div class="mt-3 row">
                                                <div class="col-xxl-6 col-md-6">
                                                    <label for="password" class="form-label">Password</label>
                                                    <input type="text" class="form-control" name="password" id="password" placeholder="{{ password|default:"" }}">
                                                </div>
                                            </div>
                                            
                                            

                                            <div class="col-sm-auto mt-4">
                                                <div class="gap-1 flex-wrap">
                                                    <button type="submit" class="btn btn-success add-btn" id="profile_submit_btn"><i class="ri-save-line align-bottom me-1"></i> Submit</button>
                                                </div>
                                                <div class="mt-3">
                                                    <span class="submit_profile_form_status"></span>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div><!--end card-->
                                
                            </div><!--end col-->
                            
                        </div><!--end row-->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}

{% block extra_js %}
<script>
//Script for logo upload and preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#logo").change(function() {

        if(this.files[0].size > 1024000){
            alert("Max allowed image size is 1024 KB!");
            this.value = "";
        }
        else{

        //This line will upload image to backend
        // document.getElementById("submit-profile").submit();

        //This line will create preview of image
        readURL(this);
        }
    });

</script>
{% endblock extra_js %}