.card.custom-card.contact-us {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;

  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;

  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;

  min-height: 250px;
}

.card.custom-card.contact-us .card-body {
  flex: none;
  width: 100%;
}


/* .auth-page-wrapper .auth-page-content {
  margin-top: -100px;
} */



table.bes-datatable>thead>tr>th{ 
  border-top: 1px solid #e9ebec;
  border-bottom: 1px solid #e9ebec;
  padding: .75rem .6rem;
  font-weight: 600;
}
table.bes-datatable>tbody>tr>td{ 
  border-top: 0px;
  border-bottom: 1px solid #e9ebec;
  padding: .75rem .6rem;
}
table.dataTable.no-footer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.DataTableContainer .dataTables_wrapper .dataTables_filter{
  display: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  color: #405189 !important;
  font-weight: 500 !important;
  padding: 0.375rem 0.75rem !important;
  background-color: var(--vz-card-bg-custom) !important;
  border: 1px solid var(--vz-border-color) !important;
  border-radius: 0.25rem !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
  color: #878a99 !important;
  cursor: default !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  color: #7283bd !important;
  background: none !important;
}
.dataTables_length label{
  font-weight: inherit !important;
  display: inline-block !important;
}
.dataTables_length .choices{
  display: inline-block !important;
}

.choices .choices__item{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.choices.is-open .choices__item{
  white-space: inherit !important;
  overflow: inherit !important;
  text-overflow: inherit !important;
}

.choices__inner{
  padding-right: 25px !important;
}



.select2-container--default .select2-selection--single .select2-selection__clear {
  height: 36px;
  margin-right: 33px;
  z-index: 999;
}