{% extends "partials/base.html" %}
{% load static %}
{% block title %}General Settings{% endblock title %}
{% block extra_css %}
<link href="{% static 'select2/select2.css'%}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        {% block pagetitle %}
                        {% include "partials/page-title.html" with pagetitle="Settings" title="General Settings" %}
                        {% endblock pagetitle %}

                        {% block alerts %}
                            {% include "partials/errors.html" with messages=messages %}
                        {% endblock alerts %}
    
                        <div class="row">
                            <div class="col-xl-9">

                                <div class="card" id="database_card">
                                    <div class="card-header border-1">
                                        <div class="row align-items-center gy-3">
                                            <div class="col-sm">
                                                <h5 class="card-title mb-0">General Settings</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-3">
                                        <form method="post" id="database_configuration_form" action="{% url 'apps.main.settings:general-settings-submit' %}">
                                            {% csrf_token %}


                                            <div class="mt-3 row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-xxl-12 col-md-12 form-check form-switch form-switch-success">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="is_vms_enabled" name="is_vms_enabled" {% if configData.is_vms_enabled == True %}checked{% endif %}>
                                                    <label class="form-check-label" for="is_vms_enabled">Enable Visitor Headcount?</label>
                                                    <span class="text-muted pt-2" style="display: block;">Would you like to enable Visitor Headcount Module? If any further help required kindly <a href="https://blueerasoftech.com">Get in Touch</a></span>
                                                </div>
                                            </div>

                                            <div id="div_is_vms_matrix" class="mt-3 row" style="margin-left: 0; margin-right: 0; {% if configData.is_vms_enabled == True %} display: block; {% else %} display: none; {% endif %}" >
                                                <div class="col-xxl-12 col-md-12 form-check form-switch form-switch-success">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="is_vms_matrix" name="is_vms_matrix" {% if configData.is_vms_matrix == True %}checked{% endif %}>
                                                    <label class="form-check-label" for="is_vms_matrix">Are you using Matrix VMS?</label>
                                                    <span class="text-muted pt-2" style="display: block;">If you are using Matrix VMS then please enabled it so Visitor headcount would be directly managed from it. To manually add/update visitor count disable this option. If any further help required kindly <a href="https://blueerasoftech.com">Get in Touch</a></span>
                                                </div>
                                            </div>

                                            <hr class="custom">


                                            <div class="mt-3 row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-xxl-6 col-md-6 form-check form-switch form-switch-success">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="is_data_to_be_encrypted" name="is_data_to_be_encrypted" {% if configData.is_data_to_be_encrypted == True %}checked{% endif %}>
                                                    <label class="form-check-label" for="is_data_to_be_encrypted">Encrypt Database?</label>
                                                    <span class="text-muted pt-2" style="display: block;">Would you like to encrypt database? If any further help required kindly <a href="https://blueerasoftech.com">Get in Touch</a></span>
                                                </div>
                                            </div>

                                            <hr class="custom">

                                            <div id="divMaxOldRecords" class="mt-4 row">
                                                <div class="col-xxl-6 col-md-6">
                                                    <label for="max_old_records_days" class="form-label" >Select Max number of duration for which you would like to retain data</label>
                                                    <select class="form-control" name="max_old_records_days" id="max_old_records_days">
                                                        <option value="30" {% if configData.max_old_records_days == 30 %} selected {% endif %}>1 Month</option>
                                                        <option value="90" {% if configData.max_old_records_days == 90 %} selected {% endif %}>3 Month</option>
                                                        <option value="180" {% if configData.max_old_records_days == 180 %} selected {% endif %}>6 Month</option>
                                                        <option value="365" {% if configData.max_old_records_days == 365 %} selected {% endif %}>1 Year</option>
                                                        <option value="730" {% if configData.max_old_records_days == 730 %} selected {% endif %}>2 Years</option>
                                                        <option value="1095" {% if configData.max_old_records_days == 1095 %} selected {% endif %}>3 Years</option>
                                                        <option value="1825" {% if configData.max_old_records_days == 1825 %} selected {% endif %}>5 Years</option>
                                                        <option value="0" {% if configData.max_old_records_days is None or configData.max_old_records_days == 0 %} selected {% endif %}>Lifetime</option>
                                                    </select>
                                                    {% if nextDeleteOldRecords and nextDeleteOldRecords != "-" %}
                                                        <span class="text-dark pt-2" style="display: block">Next run on: <strong>{{ nextDeleteOldRecords }}</strong></span>
                                                    {% endif %}
                                                    <span class="text-muted pt-2" style="display: block;">Once data deleted would not be retrieved. Please contact administration for any further help. <a href="https://blueerasoftech.com">Get in Touch</a></span>
                                                    
                                                </div>
                                                <div class="col-xxl-6 col-md-6">
                                                </div>
                                            </div>
                                            

                                            <div class="col-sm-auto mt-4 mb-4">
                                                <div class="gap-1 flex-wrap">
                                                    <button type="submit" class="btn btn-success add-btn" data-bs-toggle="modal" id="db_submit_btn" data-bs-target="#showModal"><i class="ri-save-line align-bottom me-1"></i> Submit</button>
                                                </div>
                                            </div>

                         
                                        </form>

                                    </div>

                                </div>
        
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->            
                        
                    
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}

{% block extra_js %}
<script src="{% static 'select2/select2.js'%}"></script>
<script>
    $('#max_old_records_days').select2({
        placeholder: "Select any one",
        minimumResultsForSearch: -1
     });

     $('#user_sync_interval').select2({
        placeholder: "Select any one",
        minimumResultsForSearch: -1
     });


     document.addEventListener("DOMContentLoaded", function() {
        const checkbox = document.getElementById("is_vms_enabled");
        const vmsMatrixDiv = document.getElementById("div_is_vms_matrix");

        checkbox.addEventListener("change", function() {
            if (checkbox.checked) {
                vmsMatrixDiv.style.display = "block";
            } else {
                vmsMatrixDiv.style.display = "none";
            }
        });
    });
</script>
{% endblock extra_js %}